*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    gap: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    background: red;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container h1{
    font-size: 60px;
    color: aliceblue;
    letter-spacing: 1px;
}

.container textarea{
    width: 600px;
    height: 250px;
    border-radius: 5px;
}